<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mumu Slayer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Mumu Slayer</h1>
    </header>
    <div id="game">
      <div class="character-container">
        <section id="player" class="container">
          <div class="character">
            <img class="img-character" src="img/malupiton.jpg" />
            <h2>Bossing</h2>
            <span class="health">{{playerHealth}}\100</span>
          </div>
          <div class="healthbar">
            <div class="healthbar__value" :style="playerBarStyles"></div>
          </div>
        </section>
        <img class="img-versus" src="img/versus.png" />
        <section id="monster" class="container">
          <div class="character">
            <img class="img-character" src="img/mumu.png" />
            <h2>Mumu</h2>
            <span class="health">{{monsterHealth}}\100</span>
          </div>
          <div class="healthbar">
            <div class="healthbar__value" :style="monsterBarStyles"></div>
          </div>
        </section>
      </div>
      <section class="container" v-if="winner">
        <h2>☠️ Game Over!</h2>
        <h3 v-if="winner === 'monster'">Awwww You lost!</h3>
        <h3 v-else-if="winner === 'player'">Eyyyyy You won!</h3>
        <h3 v-else>It's a draw!</h3>
        <button class="new-game-btn" @click="startGame">
          New Game <img class="img-new" src="img/new.png" />
        </button>
      </section>
      <section id="controls" v-else>
        <button class="action-btn" @click="attackMonster">
          <img class="img-btn" src="img/attack.png" />
        </button>
        <button
          class="action-btn"
          :disabled="mayUseSpecialAttack"
          @click="specialAttackMonster"
        >
          <img class="img-btn" src="img/swing.png" />
        </button>
        <button class="action-btn" @click="healPlayer">
          <img class="img-btn" src="img/potion.png" />
        </button>
        <button class="action-btn" @click="surrender">
          <img class="img-btn" src="img/boss.jpg" />
        </button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <span
              :class="{'log--player': logMessage.actionBy === 'player', 'log--monster': logMessage.actionBy === 'monster'}"
              >{{ logMessage.actionBy === 'player' ? 'Player' : 'Monster'
              }}</span
            >
            <span v-if="logMessage.actionType === 'heal'">
              heals himself for
              <span class="log--heal">{{ logMessage.actionValue }}</span></span
            >
            <span v-else>
              attacks and deals
              <span class="log--damage">{{ logMessage.actionValue }}</span>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
